@import "compass/css3";

$inter-regular: "interregular";
$inter-medium: "intermedium";

$line-height: 1.5;

$gutter: 2.4rem;
$border-raidus: 0.4rem;

$white: #fff;
$blue: #007bff;
$body-bg: #f3f3f4;
$primary: #593ec2;
$warning: #f7941d;

$gray: #7d7d7d;
$gray-a: #a2a2a2;
$gray-3: #333333;
$gray-200: #e4e4e4;

$border-color: #e4e4e4;
$icon-color: #a2a2a2;

$body-color: $gray-3;
